*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*
/src/GaltonMachineFX/nbproject/private/
/src/GaltonMachineFX/build/
/src/GaltonMachineFX/dist/
/src/JFrameTest/nbproject/private/
/src/JFrameTest/build/